# Database Configuration
DB_HOST=
DB_USER=
DB_PASSWORD=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=6379

# MinIO Configuration
MINIO_URL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Ollama Configuration
OLLAMA_URL=

# Frontend Configuration
FRONTEND_URL=
